
body{
    font-family: "Roboto", sans-serif;
}
.bg{
    background-image: url(./img/hero-bg.svg);
    background-size: cover;
    height: 900px;
}
.hero1{
    margin-top: 300px;
}
.hero1 img{
    width: 90%;   
}
.hero2{
    margin-top: 350px;
}
.hero2 h1{
    font-size: 60px;
    font-weight: bold;
}
.button{
    padding: 15px;
    border-radius: 30px;
}
.speci{
    font-weight: bold;
}
.card-top{
    font-size: 40px;
    color: rgb(89, 89, 214);
}
.card-image{
     padding: 60px;
     margin-bottom: 50px;
     border-radius: 30px;
     border-bottom: 5px solid rgb(92, 70, 70) ;
     box-shadow: 0px 5px 25px rgba(218, 211, 211, 0.3);
     overflow: hidden;
     transition: .5s;
}
.card-image:hover{
    border-color: #2F80ED;
    box-shadow: 0px 8px 25px rgba(47, 128, 237, 0.35)
}
.future{
    margin-top: 40px;
    background-color: hsl(0, 48%, 95%);
}
.design{
    margin-top: 150px;
}
.lm-button{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 150px;
}
.recent{
    margin-top: 70px;
}
.galery{
     position: relative;
     overflow: hidden;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 82%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
  background: rgba(47, 128, 237, 0.3);
}

.overlay a{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  color: #323450;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.galery:hover .overlay{
    opacity: 1;
    visibility: visible;
}

.galery .info{
    transition: all 0.3s ease-out 0s;
  background: #ffffff;
  margin-left: 30px;
  margin-bottom: 15px;
  padding: 30px 20px;
  border-radius: 5px 0 5px 5px;
  margin-top: -70px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.card-img-top{
  max-width: 48px;
  width: 100%;
  height: 48px;
  border-radius: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
  overflow: hidden;
}
.contant{
    background-color: rgba(240, 240, 236, 0.851);
    margin-top: 80px;
}
.plan{
    margin-top: 250px;
    margin-bottom: 400px;
}
.plan h1{
    font-size: 50px;
    font-weight: 600;
}
 .phone{
    background-color: aqua;
 }
.item{
    display: flex;
    margin-left: 20px;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;
     margin-bottom: 30px;
}
.icon{
    font-size: 28px;
    padding: 5px;
    background-color: aqua;
    border-radius: 20px;

}
.text-icon{
    margin-left: 10px;
}
.brand-color{
    background-color:  rgba(240, 240, 236, 0.851);
    padding: 40px 0;
    margin-bottom: 40px;
}
footer{
   background-color: rgb(209, 209, 205);
   margin-top: 20px;
}
.home{
    text-align: center;
}
.home a{
    text-decoration: none;
    color: #000;
}
.apple{
     display: flex;
     margin-top: 10px;
     background-color: #ffffff;
     padding-left: 20px;
     margin-bottom: 20px;
}
.apple a{
    font-size: 50px;
}
.store{
    margin-left: 10px;
}
.hr-5{
    border: 2px solid black;
    border-bottom: 0;
}
.lindy{
    color: liner;
}
.team{
    position: relative;
}
.team-icon{
    position: absolute;
    bottom: 90px;
    left: 31px;
}